<div class="container">

    <h1 class="text text-header">MI EQUIPO</h1>
    <div class="navigation__section">
        <div>
            <form autocomplete="off">
                <input [formControl]="search" 
                type="text" 
                placeholder="Ej. Buscar por nombre" 
                class="input input__search">
            </form>
            <button class="input input__open-modal" [routerLink]="['add-player']">Agregar</button>
        </div>
       <ng-container **ngIf="modalSwitch" ngClass=" background-color: rgb(0,0,0); background-color:rgb(0,0,0,0.4)">
        <div class="modal__container">
            <app-modal [player$]="player$"></app-modal>
        </div>
       </ng-container>
       <app-card-player [player$]="player$"></app-card-player>
    </div>
</div>


<router-outlet></router-outlet>